@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#board{
    background: linear-gradient(rgb(170, 236, 170),rgb(236, 236, 167));
    height: 90vmin;
    width: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.apple{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 337px;
    left: 925px;
}
.items {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    padding: 18px;
}
.snake {
    background: purple;
    width: 70px;
    height: 35px;
    position: absolute;
    top: 350px;
    left: 550px;
}
.head {
    height: 22px;
    width: 22px;
    background: purple;
    position: absolute;
    top: 6px;
    left: 65px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.applesEaten {
    border: 1px solid black;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    background: yellow;
}
.playagain {
    background: blue;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 15px;
    border: none;
}
.playagain:hover {
    color: blue;
    background: white;
    cursor: pointer;
}
.text {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.heading {
    background: rgb(231, 0, 0);
    font-size: 35px;
    font-weight: bolder;
    color: white;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.modal {
    position: absolute;
    top: 125px;
    left: 500px;
    display: none;
}